$shadow: 1px 1px white;
$linkColor: #ffd700;

.Photo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.Details-info {
  display: flex;
  width: 100%;
  height: 25%;
  margin: 0 auto 0 auto;
  bottom: 0;
  position: absolute;
}

.Details-item {
  width: 50%;
  text-align: left;
  margin: 20px;
  padding: 20px;
  text-shadow: $shadow;
  font-size: 1.4em;
}

a:link {
  text-decoration: none;
}

.Details-link {
  color: $linkColor;
}

.right {
  text-align: right;
}

.centre {
  text-align: center;
  width: 100%;
}
